<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <input type="email" name="email" placeholder="e-mail" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="password" name="repeat_password" placeholder="repeat password" required><br>
        <button type="submit">REGISTER</button>
    </form>
    <p><a href="/">Powrót do logowania</a></p>
</body>
</html>
